extends layout.pug

block append head-content
  link(href='css/item_searched.css', rel='stylesheet', type='text/css')

block navigation-bar
  #custom-bootstrap-menu.navbar.navbar-default(role='navigation')
    .container-fluid
      include navbar-header.pug
      .collapse.navbar-collapse.navbar-menubuilder
        ul.nav.navbar-nav.navbar-right
          // DROP DOWN MENU
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Account
              span.caret
            ul.dropdown-menu
              li
                a(href='/login') Login
              li
                a(href='/register') Register
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Lists
              span.caret
            ul.dropdown-menu
              li
                a(href='#') View Full Cart

block custom-widget
  include search-bar.pug

block content
  // SEARCH RESULTS
  ul.products
    for items in list_items
      for item in items
        li
          a(href='javascript:void(0);')
            img(src=('http:' + item.data.image))
            h4 #{item.data.name}
          p Price: #{item.data.price}
          p Store: #{item.data.store}
  
  
  

