doctype html
html
  head
    meta(charset='UTF-8')
    title Login Form
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    link(href='css/navbar.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/login_page.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
  body
    // NAVIGATION BAR
    #custom-bootstrap-menu.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/index') SmartShop
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-menubuilder')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse.navbar-menubuilder
          ul.nav.navbar-nav.navbar-right
            // DROP DOWN MENU
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Account
                span.caret
              ul.dropdown-menu
                li
                  a(href='/login') Login
                li
                  a(href='/register') Register

            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Cart
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') View Full Cart
    // Login Form
    #login-page
      form 
        input.name(type='text', placeholder='Enter Email')
        input.pw(type='password', placeholder='Enter Password')
        li
          a(href='register.html') Register
        input.button(id='login-btn' type='submit', value='Log in')
    script(src='js/jquery-3.1.1.min.js', type='text/javascript')
    //script(src='http://localhost:8080/socket.io/socket.io.js')
    script(src="/socket.io/socket.io.js", type='text/javascript')
    script(src='js/browser.js', type='text/javascript')
