extends layout.pug

block append head-content
  link(href='css/login_page.css', rel='stylesheet', )
  link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')

block navigation-bar
  #custom-bootstrap-menu.navbar.navbar-default(role='navigation')
    .container-fluid
      include navbar-header.pug
      .collapse.navbar-collapse.navbar-menubuilder
        ul.nav.navbar-nav.navbar-right
          // DROP DOWN MENU
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Account
              span.caret
            ul.dropdown-menu
              li
                a(href='/login') Login
              li
                a(href='/register') Register
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Cart
              span.caret
            ul.dropdown-menu
              li
                a(href='#') View Full Cart

block custom-widget
  // Login Form
  #login-page
    form(method='post')
      h4 Login Information
      input.name(type='text', name='userID' placeholder='Enter Email')
      input.pw(type='password', name='password' placeholder='Enter Password')
      li
        a(href='/register') Register
      input.button(type='submit', value='Log in')   
               
