.navbar-header
  a.navbar-brand(href='/') 
  img(src='CheckedOutLogo4.jpeg') 
  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-menubuilder')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar