extends layout.pug

block append head-content
  link(href='css/register_page.css' rel='stylesheet')
  link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')

block navigation-bar
  #custom-bootstrap-menu.navbar.navbar-default(role='navigation')
    .container-fluid
      include navbar-header.pug
      .collapse.navbar-collapse.navbar-menubuilder
        ul.nav.navbar-nav.navbar-right
          // DROP DOWN MENU
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Account
              span.caret
            ul.dropdown-menu
              li
                a(href='/login') Login
              li
                a(href='/register') Register
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Cart
              span.caret
            ul.dropdown-menu
              li
                a(href='#') View Full Cart

block custom-widget
  .Register
    form(onsubmit='return checkForm(this);')
      h5  Welcome to CheckedOut! 
      input(type='text', name='name', required='', placeholder='Name', autocomplete='off')
      input(type='text', name='email', required='', placeholder='Enter Email', autocomplete='off')
      input(type='text', name='email_verify', required='', placeholder='Confirm Email', autocomplete='off')
      input(type='password', name='pwd1', required='', placeholder='Password', autocomplete='off')
      input(type='password', name='pwd2', required='', placeholder='Confirm Password', autocomplete='off')
      input(type='submit', value='Register', title='Register')
