
extends layout.pug

block append head-content
  link(rel='stylesheet', href='css/register_page.css')
  link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')

block navigation-bar
  #custom-bootstrap-menu.navbar.navbar-default(role='navigation')
    .container-fluid
      include navbar-header.pug
      .collapse.navbar-collapse.navbar-menubuilder
        ul.nav.navbar-nav.navbar-right
          // DROP DOWN MENU
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Account
              span.caret
            ul.dropdown-menu
              li
                a(href='/login') Login
              li
                a(href='/register') Register
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Cart
              span.caret
            ul.dropdown-menu
              li
                a(href='#') View Full Cart

block custom-widget
  .Register
    form(method='post')
      // action="#" URL OF WHERE TO SEND THE DATA
      h5  Welcome to Checkedout! 
      input(type='text', name='userID', required='', placeholder='Name', autocomplete='off')
      input#email(type='text', name='email', required='', placeholder='Email', autocomplete='off')
      input#password(type='password', name='password', required='', placeholder='Password', autocomplete='off')
      input(type='submit', value='Register', title='Register')
