body {
    background-image: url('../Searched_.jpg');
    background-size: 1920px 1000px; 
}


ul.products {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 40px;  
}


.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 60px;
}


.btn.btn-default {
	margin-left: 148px; 
	background-color: #5bc0de; 
	color: #fff; 	
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}



.thumbnail img{
    margin-left: 0px; 
    max-height: 100px;
    max-width: 100px; 
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
    margin-left: 100px;
    margin-top: -120px;
    margin-bottom: -50px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-left: 970px;
    margin-top: -200px;
}


.btn.btn-default {
    margin-left: 148px;
    background-color: #5bc0de;
    color: #fff;
    margin-left: 965px;
    margin-top: -96px;
}


.btn-lg {
    margin-left: 30px; 
}



