extends layout.pug

block append head-content
  script(src='js/list.js', type='text/javascript') 
  link(href='css/index.css', rel='stylesheet')
  link(href='css/sidebar_options.css', rel='stylesheet')

block custom-widget
  include search-bar.pug
  include sidebar_options.pug
  
  script. 
    onload = resetLocalStorageIndex()

