extends layout.pug

block append head-content
  link(href='css/index.css', rel='stylesheet')
  script(src='js/list.js', type='text/javascript') 
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-*.min.js')

block custom-widget
  include search-bar.pug
  
  form.selectStore(method='post')
    select.selectpicker(multiple title="Shopping Location Options", data-actions-box='true')
      option Costco
      option SuperStore
      option Walmart
      
  form.selectNumberItems(method='post')
    select.selectpicker(title='Items Per Page')
      option 10
      option 25 
      option 50
      option 100
      
  form.selectMinPrice(method='post')
    .form-group
      label(for='minPrice') Minimum Price:
      input#minPrice.form-control(type='text')
    .form-group
      label(for='maxPrice') Maximum Price:
      input#maxPrice.form-control(type='text')
  
  script. 
    onload = resetLocalStorageIndex()

