extends layout.pug

block append head-content
  link(href='css/index.css', rel='stylesheet')
  script(src='js/list.js', type='text/javascript') 
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-*.min.js')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.3/css/bootstrap-slider.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.3/css/bootstrap-slider.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.3/bootstrap-slider.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.3/bootstrap-slider.js')
  
block custom-widget
  include search-bar.pug
  
  form.selectPrice(method='post')
    input#ex7(type='text', data-slider-min='0', data-slider-max='20', data-slider-step='1', data-slider-value='5', data-slider-enabled='false')
    input#ex7-enabled(type='checkbox')
    |  Enabled

  
  form.selectStore(method='post')
    select.selectpicker(multiple title="Shopping Location Options", data-actions-box='true')
      option Costco
      option SuperStore
      option Walmart
  
  script. 
    onload = resetLocalStorageIndex()

