extends layout.pug

block append head-content
  link(href='css/item_searched.css', rel='stylesheet', type='text/css')
  link(href='css/sidebar_options_display.css', rel='stylesheet')
  script(src='js/list.js', type='text/javascript')   
                
block custom-widget
  include search-bar.pug
  include sidebar_options.pug
  // Button trigger modal
  button.btn.btn-primary.btn-lg.showCartButton(type='button', data-toggle='modal', data-target='#myModal')
    | Show List
  button.btn.btn-primary.btn-lg.emptyCartButton(type='button', onClick='resetLocalStorage()')
    | Empty List
  
block content
  // SEARCH RESULTS
  ul.products
    .row
      .col-sm-6.col-md-4
      - item_id = 0;
      for item in list_items
        .thumbnail
          img(src=(item.data.image))
          .caption
            h3.ellipsis #{item.data.name}
            p $#{item.data.price}
            p #{item.data.store}
            a.btn.btn-primary.addToCartButton(href='javascript:void(0)', role='button', id='item' + item_id) Add to List
            a.btn.btn-default.visitWebsiteButton(href=item.data.url, role='button', target='_blank') Visit Website
            .alert.alert-success.alert-dismissable.fade.in(id='item' + item_id)
              a.close(href='javascript:void(0)', onclick="$('.alert').hide()", aria-label='close')
                | ×
              .text-center
                | Added to list!
        - item_id++;
		
  // Modal
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        h4#myModalLabel.modal-title
          input.list(type='text', name='list_name', required='', placeholder='Shopping List Name', autocomplete='off')
        .modal-body
        .modal-footer.list
          button.btn.btn-primary.saveChanges Save Changes
          .alert.alert-dismissable.fade.in(id='save_list_status')
            .text-center#status_message
              | Status
          h5.totalPrice
            script.
              onload = showTotalPrice(); 

block append footer-scripts
  script(src='js/save_list.js', type='text/javascript')
        

        
        
        