li.dropdown
  a.dropdown-toggle(href='#', data-toggle='dropdown')
    | Account
    span.caret
  ul.dropdown-menu
    li
      a(href='/login') Login
    li
      a(href='/register', id='register') Register
li.dropdown
  a.dropdown-toggle(href='#', data-toggle='dropdown')
    | Lists
    span.caret
  ul.dropdown-menu
    li
      a(href='#') Create New List
    li
      a(href='#') Edit Lists