li.dropdown
  a.dropdown-toggle(href='#', data-toggle='dropdown')
    | Account
    span.caret
  ul.dropdown-menu
    li
      a(href='/login', id='login') Login
    li
      a(href='/register', id='register') Register
