li.dropdown
  a.greeting
    | Hello, NAME
  a.dropdown-toggle(href='#', data-toggle='dropdown')
    | Account
    span.caret
  ul.dropdown-menu
    li
      a(href='/update', id='update') Change Password
    li
      a(href='/logout', id='logout') Logout
li.dropdown
  a.dropdown-toggle(href='#', data-toggle='dropdown')
    | Lists
    span.caret
  ul.dropdown-menu
    li
      a(href='#') Manage Lists