extends layout.pug

block append head-content
  link(href='css/login_page.css', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')

block custom-widget
  // Login Form
  #login-page
    form(method='post')
      h4 CheckedOut - Login
      if login_failed
        h5 #{login_failed}
      input.email(type='text', name='email', required='', placeholder='Enter Email')
      input.pw(type='password', name='password', required='', placeholder='Enter Password')
      li#verify
        a(href='#', data-toggle='modal', data-target='#myModal') Verify Email
      li#register
        a(href='/register') Register
      input.button(type='submit', value='Log in')   
               
block content
  // Modal
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        form#verify(action='/verify_code', method='post')
          h4#myModalLabel.modal-title
            input(type='text', name='email_verify', required='', placeholder='Email')
            input(type='text', name='verify_num', required='', placeholder='Verification Code', autocomplete='off')
          .modal-body
          .modal-footer.list
            button.btn.btn-primary.saveChanges(type='submit', value='Submit Code', title='Submit Code') Submit Code


block append footer-scripts                           
  script(src='js/verification.js', type='text/javascript')