extends layout.pug

block append head-content
  link(href='css/manage_lists.css', rel='stylesheet', type='text/css')
                
block custom-widget
  
  
  
block content
  // SEARCH RESULTS
  ul.products
    .row
      .col-sm-6.col-md-4
      for list in user_lists
        form.userLists(method='get')
          a.viewList(href='/item_searched')
            p #{list}

		
      
        
