extends layout.pug

block append head-content
  link(href='css/manage_lists.css', rel='stylesheet', type='text/css')
                
//- 
block custom-widget
  
  
  
block content
  // SEARCH RESULTS
  ul.products
    .row
      .col-sm-6.col-md-4
      for list in user_lists
        a.viewList(href='#') #{list}

block append footer-scripts
  script(src='js/get_list.js', type='text/javascript')            
  script(src='js/list.js', type='text/javascript')
		
      
        
